{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{% static 'task_manager/images/favicon.ico' %}" type="images/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'task_manager/css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner Index</title>

</head>
<body>
    <h1 class="page-title">Planner</h1>

    <!-- Task container -->

    <div class="task-container" id="task-container">
        <div class="add-task">+</div>
        {% for task in tasks %}
            <div class="task" id="task{{ task.id }}"
                 data-task="{{ task.id }}"
                 data-name="{{ task.name }}"
                 data-description="{{ task.description|default:'No description' }}"
                 data-status="{{ task.status }}"
                 data-category="{{ task.category }}"
                 data-deadline="{{ task.deadline }}"
                 style="top: {{ forloop.counter0|add:"90" }}px;">
                {{ task.name }}
            </div>

        {% endfor %}
    </div>

    <!-- Modal to show task details -->
    <div id="task-modal">
        <button id="close-modal">✖</button>

        <table>
            <tr>
                <th>Task</th>
                <td><textarea id="task-title"></textarea></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><textarea id="task-status"></textarea></td>
            </tr>
            <tr>
                <th>Description</th>
                <td><textarea id="task-description"></textarea></td>
            </tr>
            <tr>
                <th>Deadline</th>
                <td><textarea id="task-deadline"></textarea></td>
            </tr>
            <tr>
                <th>Category</th>
                <td><textarea id="task-category"></textarea></td>
            </tr>
        </table>
    </div>
<!--    <script type="module" src="{% static 'task_manager/js/main.js' %}"></script>-->
    <script src="{% static 'task_manager/js/toDo.js' %}"></script>
</body>
</html>
