body {
    background: white url("images/index-bg.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;  /* This keeps the background fixed when you scroll */
    height: 100vh;  /* Ensures the body takes up the full height of the viewport */
    margin: 25;  /* Removes default margin around the body */
}
